/* header section*/

* {
  display: flexbox;
  width: 1366px;
  height: 768px;
}

title {
  display: none;
}

body {
  background: #1e1e1e;
  position: relative;
  width: 1366px;
  height: 2600px;
  overflow-y: scroll;
}

header {
  position: absolute;
  width: 1366px;
  height: 768px;
  left: 0px;
  top: 0px;

  background: #29182e;
}

.facebook {
  /* span */

  position: absolute;
  width: 214px;
  height: 60px;
  left: 66px;
  top: 44px;

  font-family: "Lexend Deca";
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 60px;
  /* identical to box height, or 188% */
  display: flex;
  align-items: center;
  letter-spacing: 0.15em;
  text-transform: uppercase;

  color: #f14c36;
}

span {
  position: absolute;
  width: 167px;
  height: 20px;
  left: 41px;
  top: 20px;

  font-family: "Lexend Deca";
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  /* identical to box height, or 100% */
  letter-spacing: 0.15em;
  text-transform: uppercase;

  color: #f6f7f1;
}

.divstarted {
  /* div */

  position: absolute;
  width: 250px;
  height: 60px;
  left: 1050px;
  top: 44px;

  background: #f14c36;
  border-radius: 50px;
}

.headerimg {
  position: absolute;
  width: 639.18px;
  height: 750px;
  left: 727px;
  top: 142px;
}

h1 {
  position: absolute;
  width: 784px;
  height: 48px;
  left: 80px;
  top: 320px;

  font-family: "Lexend Deca";
  font-style: normal;
  font-weight: 500;
  font-size: 38px;
  line-height: 48px;
  /* identical to box height, or 100% */
  letter-spacing: 0.15em;
  text-transform: uppercase;

  color: #f6f7f1;
}

.pheader {
  position: absolute;
  width: 650px;
  height: 50px;
  left: 80px;
  top: 425px;

  font-family: "Lexend Deca";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 25px;

  color: #f6f7f1;
}

/*header end*/

/* focused section start */

.focused {
  position: absolute;
  width: 1366px;
  height: 768px;
  left: 0px;
  top: 768px;

  background: #f6f7f1;
}

.class-h2 {
  position: absolute;
  width: 500px;
  height: 100px;
  left: 766px;
  top: 288px;

  font-family: "Lexend Deca";
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: 50px;
  display: flex;
  align-items: center;
  text-align: right;
  letter-spacing: 0.15em;
  text-transform: uppercase;

  color: #29182e;
}

.social {
  color: #f14c36;

  font-family: "Lexend Deca";
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: 50px;
  display: flex;
  align-items: center;
  text-align: right;
  letter-spacing: 0.15em;
  text-transform: uppercase;
}

.integrity {
  color: #436b2c;
  font-family: "Lexend Deca";
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: 50px;
  display: flex;
  align-items: center;
  text-align: right;
  letter-spacing: 0.15em;
  text-transform: uppercase;
}

#section-p-tag {
  position: absolute;
  width: 650px;
  height: 50px;
  left: 616px;
  top: 429px;

  font-family: "Lexend Deca";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 25px;
  text-align: right;

  color: #29182e;
}

.phone {
  /* phone */

  position: absolute;
  width: 338px;
  height: 696px;
  left: 120px;
  top: 44px;
}

/* focused section end */

/* platform section start */

.hello {
  position: absolute;
  width: 1366px;
  height: 768px;
  left: 0px;
  top: 1536px;

  background: #f6f7f1;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h2 {
  position: absolute;
  width: 886px;
  height: 40px;

  left: 240px;
  top: 174px;

  font-family: "Lexend Deca";
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 40px;
  /* identical to box height, or 100% */
  letter-spacing: 0.15em;
  text-transform: uppercase;

  color: #29182e;
}

/* platform section end */

/* footer section start */

footer {
  position: absolute;
  width: 1366px;
  height: 296px;
  left: 0px;
  top: 2304px;
  display: flex;

  background: #29182e;
  font-family: "Lexend Deca";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 40px;
  color: #ecb20d;
}

.facefoot {
  position: absolute;
  width: 214px;
  height: 40px;
  left: 576px;
  top: 66px;

  font-family: "Lexend Deca";
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 40px;
  /* identical to box height */
  display: flex;
  align-items: center;
  letter-spacing: 0.15em;
  text-transform: uppercase;

  color: #f14c36;
}

.started {
  position: absolute;
  width: 167px;
  height: 25px;
  left: 66px;
  top: 156px;
  color: #ecb20d;
  text-decoration: none;
}

.about {
  position: absolute;
  width: 83px;
  height: 25px;
  left: 318.5px;
  top: 156px;
  color: #ecb20d;
  text-decoration: none;
}

.jobs {
  position: absolute;
  width: 64px;
  height: 25px;
  left: 487px;
  top: 156px;
  color: #ecb20d;
  text-decoration: none;
}

.help {
  position: absolute;
  width: 62px;
  height: 25px;
  left: 636.5px;
  top: 156px;
  color: #ecb20d;
  text-decoration: none;
}

.privacyfoot {
  position: absolute;
  width: 213px;
  height: 25px;
  left: 784px;
  top: 156px;
  color: #ecb20d;
  text-decoration: none;
}

.cookies {
  position: absolute;
  width: 218px;
  height: 25px;
  left: 1082.5px;
  top: 156px;
  color: #ecb20d;
  text-decoration: none;
}

.copyright {
  position: absolute;
  width: 228px;
  height: 25px;
  left: 569px;
  top: 256px;

  /* identical to box height */
  display: flex;
  align-items: center;
  letter-spacing: 0.15em;
  text-transform: uppercase;

  color: #f6f7f1;
}

/* footer section end */

/*media section begin*/

.unity {
  position: absolute;
  width: 126px;
  height: 40px;
  left: 266px;
  top: 403px;

  font-family: "Lexend Deca";
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 40px;
  /* identical to box height, or 125% */
  letter-spacing: 0.15em;
  text-transform: uppercase;

  color: #f14c36;
}

.privacy {
  position: absolute;
  width: 174px;
  height: 40px;
  left: 582px;
  top: 403px;

  font-family: "Lexend Deca";
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 40px;
  /* identical to box height, or 125% */
  letter-spacing: 0.15em;
  text-transform: uppercase;

  color: #436b2c;
}

.clarity {
  position: absolute;
  width: 172px;
  height: 40px;
  left: 951px;
  top: 403px;

  font-family: "Lexend Deca";
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 40px;
  /* identical to box height, or 125% */
  letter-spacing: 0.15em;
  text-transform: uppercase;

  color: #ecb20d;
}

.unityimg {
  position: absolute;
  width: 53.33px;
  height: 53.33px;

  left: 302.33px;
  top: 319.33px;
}

.privacyimg {
  position: absolute;
  width: 53.33px;
  height: 53.33px;

  left: 642.33px;
  top: 319.33px;
}

.clarity-img {
  position: absolute;
  width: 53.18px;
  height: 42.62px;

  top: 324.71px;
  left: 1010.33px;
}

#p-unity {
  position: absolute;
  width: 250px;
  height: 125px;
  left: 204px;
  top: 468px;

  font-family: "Lexend Deca";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 25px;
  text-align: center;

  color: #f14c36;
}

#p-priv {
  position: absolute;
  width: 250px;
  height: 125px;
  left: 544px;
  top: 468px;

  font-family: "Lexend Deca";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 25px;
  text-align: center;

  color: #436b2c;
}

#p-clar {
  position: absolute;
  width: 250px;
  height: 125px;
  left: 912px;
  top: 468px;

  font-family: "Lexend Deca";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 25px;
  display: flex;
  align-items: center;
  text-align: center;

  color: #ecb20d;
}

/*media section end*/

@media screen and () {
  .flex-container {
    position: absolute;
    align-items: center;
    width: 958px;
    height: 279px;
    left: 204px;
    top: 314px;
  }

  .div-footer {
    position: absolute;
    width: 1234.5px;
    height: 25px;
    left: 66px;
    top: 156px;

    font-family: "Lexend Deca";
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 25px;

    display: flex;
    align-items: center;
    letter-spacing: 0.15em;
    text-transform: uppercase;
    color: #ecb20d;
  }
}
